html {
    background-color: white;
  }
  body{
    font-family: "Trirong", serif;
  }
  .invert {
    filter: invert(1) hue-rotate(180deg);
  }
  .dark-mode {
    filter: invert(1) hue-rotate(180deg);
  }
  .dark-mode footer{
    background-color: #1292ee;
  }
  .nav-link {
    color: #748494;
  }
  .dark-mode .nav-link {
    background-color: black;
  }
  .nav-link:hover {
    color: #314351;
  }
  .main-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 60px;
  }
  .single-button {
    height: 52px;
    color: #314351;
    justify-content: center;
    display: flex;
    background: rgb(249, 251, 255);
    align-items: center;
    text-decoration: none;
    transition: box-shadow 0.3s;
  }
  .single-button:hover {
    cursor: pointer;
    color: black;
    box-shadow: 0 5px 15px #ffe1e7;
  }
  .icon {
    margin-left: 8px;
    width: 30px;
    height: 33px;
  }
  .inline-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .main-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 60px;
  }
  .card-design {
    color: #1d2b36;
  }
  .card {
    border: none;
  }
  .banner:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .section-2 {
    margin-top: 90px;
    display: grid;
    gap: 80px;
    grid-template-columns: 2fr 1fr;
  }
  .list img {
    width: 184px;
  }
  .list {
    display: flex;
  }
  .list h5 {
    margin-left: 4%;
    align-items: center;
    justify-content: center;
    display: inherit;
  }

  .subscribe-box {
    background: rgb(248, 249, 252);
    border-radius: 6px;
    padding: 50px;
  }


  /* page-index */
  .main-content{
    display: flex;
  }
  .buttons-inline{
    display: flex;
    justify-content: flex-start;
    
  }
  .vertical {
    margin-left: 10px;
    border-left: 2px solid rgba(161, 159, 159, 0.44);
    height: 90px;
}

.icons{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
}

.Switch {
    position: relative;
    width: 60px;
    height: 34px;
  }
  
  .Switch__Input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1rem;
    background-color: lightgray;
    transition: .3s;
  }
  
  .Slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: .3s;
  }
  
  .Switch__Input:checked + .Slider::before {
    transform: translateX(26px);
  }
  
  .Switch__Input:checked + .Slider {
    background-color: cornflowerblue;
  }

  .align-vertically{
    margin-top: auto;
    margin-bottom: auto;
  }

  .share{
    background-color: #F3FBFF;
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
}
/* some animation */
.fade-in-image { 
    animation: fadeIn 5s; 
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


  p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }